[Unit]
Description=Tihulu Minimized Windows media daemon
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/tihulu-mediad
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
